.input{
    padding: 16px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-right: 12px;
}

.form{
    padding: 16px;
    display: flex;
    justify-content: center;
}

.error {
    margin-top: 12px;
    text-align: center;
    color: red;
}